# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
spring-multi-env.iml
src/main/resources/
target/
